<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProjectSecondCut</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
            <img src="~/img/logo.png" alt="" width="100px" class="centro"><a class="navbar-brand name" asp-controller="Home" asp-action="Index">MOON AND SUN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse centro">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown mx-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Forms
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Album" asp-action="Create">Album</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Artist" asp-action="Create">Artist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Staff" asp-action="Create">Staff</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Song" asp-action="Create">Songs</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dependency
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Country" asp-action="Create">Country</a>
                            <a class="dropdown-item" asp-controller="Gender" asp-action="Create">Gender</a>
                            <a class="dropdown-item" asp-controller="Language" asp-action="Create">Language</a>
                        </div>
                    </li>
                </ul>
            </div>


        </nav>

    </header>
    <div class="row mx-0">
        <div class="col-2 columna"></div>
        <div class="col-8" style="margin-top:100px">
            @RenderBody()
        </div>
        <div class="col-2 columna"></div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FinalProjectSecondCut - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
