@{
    ViewData["Title"] = "Presentation";
}

<div class="box">
    <h1 class="text-center">About Us</h1>
    <p class="text-center">
        Moon and Sun Music, houses an extraordinary catalog that includes timeless standards and contemporary hits, representing works by more than 65,000 composers and composers, with a collection of more than one million copyrights.
        The focus as an independent electronic music label was focused on techno music and similar genres. In recent years, several of the national and international exponents of the genre have published their work through the label. To this day, Moon and Sun continues to be a platform that focuses on disseminating the work of national and international artists, but today we have all genres.
    </p>
</div>
<div class="box">
    <h1 class="text-center">Some things about our clients</h1>
    <div class="row">
        <div class="col-4">
            <div id="imagen">
                <div id="info">
                    <p id="headline">Pastor Lopez</p>
                    <p id="descripcion">To the sound of danceable music, he accompanied us on December 25, 2015</p>
                </div>
                <img src="~/img/pastor.jpg" class="img">
            </div>


        </div>
        <div class="col-4">
            <div id="imagen">
                <div id="info">
                    <p id="headline" style="margin-left: 55px;">Romeo Santos</p>
                    <p id="descripcion">To the sound of the most sensual music to dance, the bachata he accompanied us on January 15, 2020</p>
                </div>
                <img src="~/img/romeo.jpg" class="img">
            </div>
        </div>
        <div class="col-4">
            <div id="imagen">
                <div id="info">
                    <p id="headline" style="margin-left: 40px;"> Wisin and Yandel</p>
                    <p id="descripcion">To the sound of reggaeton internationalizing their genre, they accompanied us on September 1, 2018</p>
                </div>
                <img src="~/img/wisin-yandel.jpg" class="img">
            </div>
        </div>
    </div>
</div>
