@model FinalProjectSecondCut.Domain.Language
@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        The language has been created succesfully
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form class="border p-3" asp-action="Create" method="POST">
    <h1 class="h4 text-center">Add Language</h1>
    <div class="form-group">
        <label>Language</label>
        <input type="text" class="form-control " asp-for="Language_name" placeholder="Write a Language...">
        <span asp-validation-for="Language_name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success" style="width: 778px;">Send</button>
</form>